<article class="post">

    <div class="container mt-3 pb-3">
        <div class="p-3 text-black text-center" style="background-color: #e7e4e4">
            <h4>Comments</h4>
            {{#each this}}
            <section class="comment pb-4">
                <div style="text-decoration: underline; font-size:large;" class="meta">
                    {{user.username}} on {{format_date created_at}}
                </div>
                <div class="text">
                    {{comment_text}}
                </div>
            </section>
            {{/each}}
        </div>
    </div>
</article>