<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Tech News!</title>
    {{!--
    <link rel="stylesheet" href="/css/jass.css"> --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container-fluid">
                <h1><a href="/">Your Tech News</h1></a>
                <section class="d-flex" role="search">
                    {{#if logged_in}}
                    <a href="/">Homepage</a> |
                    <a href="/dashboard">Dashboard</a> |
                    <button class="no-button" id="logout">Logout</button>
                    {{else}}
                    <a href="/login">Login</a>
                    {{/if}}
                </section>
            </div>
        </nav>
    </header>

    <main class="container container-fluid mt-5">
        <!-- Render the sub layout -->
        {{{ body }}}
    </main>

    <footer>

    </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>