<section>
    <a class="px-3" href="/dashboard" style="color: black;"> &larr; Back to dashboard</a>
    <div class="container mt-5 d-flex justify-content-center border border-black" style="background-color: #f7f0e2">
        <div class="row align-items-center card-body text-center ">
            <div class="col-12 pt-3">
                <h2>Edit Post</h2>
            </div>
            <div class="col-12">
                <form class="edit-post-form">
                    <div class="form-group mt-2">
                        <label for="post-title">Title</label>
                        <input class="form-control mt-2" type="text" id="post-title" name="post-title"
                            value="{{post.title}}" />
                    </div>
                    <div class="form-group mt-4">
                        <label for="post-description">Description</label>
                        <textarea class="form-control mt-2" id="post-description"
                            name="post-description">{{post.description}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-dark btn-md px-5 mt-4">Save</button>
                    <button type="button" class="delete-post btn btn-outline-dark btn-md px-5 mt-4">Delete</button>
                </form>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container pb-2 justify-content-center">
        <div class="row align-items-center text-center">
            <div class="col-12 mt-5">
                <h3>New comment</h3>
            </div>
            <form class="comment-form">
                <div class="form-group">
                    <textarea class="form-control" name="comment-body"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-dark btn-md px-5 mt-4">Add comment</button>
                </div>
            </form>
        </div>
    </div>
    </div>
    <div class="col-12 mt-2">
        {{> comments post.comments}}
    </div>


    <script src="/js/edit-post.js"></script>
    <script src="/js/delete-post.js"></script>
    <script src="/js/comment.js"></script>